
<div *ngIf = "!informe; else resive">
  <div class="container">     
    <form [formGroup] = "formulario" (ngSubmit)= "add(formulario.value)">
      <div class="form-group">
        <label for="titulo">Titulo inform de daños</label>  
        <input type="text" class="form-control" formControlName="titulo"  placeholder="Titulo para este informe" [(ngModel)]="danno.titulo">      
        <div *ngIf="!formulario.controls['titulo'].minlength && formulario.controls['titulo'].touched">
            Titulo es requerido Con mas de 6 letras
        </div>       
      </div>  
      

      <div class="form-group">
        <label for="Reporte">Vehiculo afectado</label>
        <select class="form-control" formControlName ="vehiculo" [(ngModel)]="danno.vehiculo" >
          <option *ngFor="let item of vehiculo" [value]="item.name">  {{item.name}} ::  {{item.ruta}}</option>                  
        </select>
      </div>

    

      <div class="form-group">
        <label for="informe">Informe de daños</label>
        <textarea class="form-control" formControlName ="informe" rows="4" [(ngModel)]="danno.informe"></textarea>
        <div *ngIf="!formulario.controls['informe'].minlength && formulario.controls['informe'].touched">
            Informe es requerido Con mas de 10 letras
            <ngb-alert id="alert-danger" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Check out our awesome new features!</ngb-alert>
        </div>
      </div>  
      
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName ="fecha" placeholder="Choose a date" [(ngModel)]="danno.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button class="btn btn-primary btn-block" [disabled]= "!formulario.valid" (click)="saveDannos()" >Crear un daño</button>
    
    </form> 
  </div>
</div>  

<ng-template  #resive class="form-inline">    
  <mat-card class="alert alert-success" ngbTooltip="Titulo para el informe de daños">{{danno.titulo}}</mat-card>
  <mat-card class="alert alert-success" ngbTooltip="Vehiculo afectado">{{danno.vehiculo}}</mat-card>
  <mat-card class="alert alert-success" ngbTooltip="Informe del vehiculo afectado">{{danno.informe}}</mat-card>
  <mat-card class="alert alert-success" ngbTooltip="Fecha de creacion de informe">{{danno.fecha}}</mat-card>
</ng-template>  

<!--  
  <div class="column small-12 large-2">
    <label class="sbw_light">Title:</label><br />
    <select [(ngModel)]="passenger.Title">
       <option *ngFor="#title of titleArray" [value]="title.Value">{{title.Text}}</option>
    </select>
  </div>




  <div *ngIf = "!nombre; else resive">
    <form [formGroup] = "formulario" (ngSubmit)="add(formulario.value)">
        <label>nombre
          <input type="text" formControlName="nombre" [(ngModel)]="danno.titulo">
        </label>
        <div *ngIf ="!formulario.controls['nombre'].valid && formulario.controls['nombre'].touched"> this is required </div>
        <button mat-button  [disabled]="!formulario.valid"> Button </button>
    </form>
  </div>  
  <ng-template #resive>
    <div class="container"> hola </div>
  </ng-template>
    -->
